@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .transition-animation {
    @apply transition-all ease-out delay-200
  }
  .active-btn-header {
    @apply bg-white text-blue-500 rounded-md
  }
}